<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SiteConnectionString" connectionString="server=localhost;User Id=root;password=cesar;database=db_wugames;Persist Security Info=True" />
    <add name="db_wugamesConnectionString" connectionString="server=localhost;User Id=root;database=db_wugames;password=cesar;Persist Security Info=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>