<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WuGames.Business.Properties.Settings.StringConexao"
            connectionString="server=localhost;User Id=root;password=ALUNOS;Persist Security Info=True;database=db_wugames"
            providerName="MySql.Data.MySqlClient" />
        <add name="WuuGames.Business.Properties.Settings.Setting" connectionString="server=localhost;User Id=root;password=ALUNOS;Persist Security Info=True;database=db_wugames"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
